/* stili generali */
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;


}

body{
  font-family: 'Roboto', sans-serif;
}

.inline {
  display: inline-block;
}

a {
  color: #000;
  text-decoration: none;
}
/* /stili generali */

/* stili header */
.container-menu {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 2px 0px 20px 5px #888888;
  z-index: 10000001;


}
.row-menu {
  background: #fff;
  position: relative;
}

.box-logo img {
  height: 100px;
  margin-left: 35px;
}

.box-menu {
  position: absolute;
  top: 35%;
  right: 10%;
}

.box-menu ul li   {
  font-family: 'Ubuntu', sans-serif;
}


.box-menu ul li{
  display: inline-block;
  font-size: 18.5px;
  margin: 0 5px;
  font-weight: 500;
}

.box-menu ul li a:hover {
  color: #004d80;
}
/* /stili header */

/* stili main */
main {
  background: #fff;;
}

/* stili container catalogo */
.container-catalogo {
  position: relative;
  margin:150px auto 200px auto;
  width: 1000px;
  padding-bottom: 50px;
}
/* /stili container catalogo */

/* stili box prodotto */
.box-prodotto {
  display: inline-block;
  position: relative;
  width: 33%
}

.img-prodotto {
  width: 100%;
  margin: 0 auto;
}

.sconto {
  position: absolute;
  background: #00cca3;
  left: 43%;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
}

.text {
  position: absolute;
  width: 100%;
  color: #000;
  font-size: 30px;
  bottom: 0;
  text-align: center;
  opacity: 0;
  text-transform: uppercase;
}

.box-prodotto:hover .text{
  opacity: 1;
}

.box-prodotto:nth-child(2) .sconto{
  background: #4747d1;
}
/* /stili box prodotto */
/* \stili main */

/* stili footer */
.container-footer {
  width: 100%;
  background: #333;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: -10000000;

}

.container-footer p:only-child{
  padding: 50px;
  color: #fff;
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
}

.container-footer span {
  text-transform: uppercase;
}


/* stili footer */
